# Общие исключения для .NET, Python, Node, и IDE
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env*
*.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
bin/
obj/
*.dll
*.exe
*.app
*.out
*.pid
*.coverage
*.ncrunch*
*.localhistory/
node_modules/
coverage/
dist/
build/
logs/
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
